.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.hero img {
  width: 204px;
  height: 200px;
  margin-top: 20px;
  border-radius: 50%;
}
.hero img:hover{
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 2px 2px 34px 8px #6023e1, 0 0 36px 19px #b224e6;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 60px;
  font-weight: 600;
}
.hero h1 span {
  background: linear-gradient(262deg, #b224e6 0.36%, #6023e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  width: 50%;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
.hero-action {
  display: flex;
  align-items: center;
  font-size: 24px;
  gap: 25px;
  font-weight: 400;
}
.hero-connect {
  padding: 14px 20px;
  border-radius: 50px;
  background: linear-gradient(262deg, #b224e6 5.36%, #6023e1 102.06%);
  cursor: pointer;
}
.hero-resume {
  padding: 14px 20px;
  border-radius: 50px;
  border: 2px solid white;
  transition: 0.6s;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid #fff;
}
.hero-resume:hover {
  border-color: #b224e6;
}
.hero-download-resume{
    border: 2px solid white;
    border-radius: 50px;
    padding: 14px 20px;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
    gap: 30px;
    transition: 0.6s;
    cursor: pointer;
}
.hero-download-resume:hover{
    border-color: #b224e6;
    color: #b224e6;
}
.hero-download-resume:hover i{
    color: #b224e6;
}
.hero-download-resume i {
    color: white;
    transition: 0.6s;
}
@media (max-width: 768px) {
  .hero img {
    margin-bottom: 40px;
    width: 260px;
  }
  .hero h1 {
    margin-top: 20px;
    width: 90%;
    font-size: 50px;
  }
  .hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 10px 0px;
  }
  .hero-action{
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }
  .hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-resume{
    padding: 20px 30px;
    border-radius: 40px;
  }
  .hero-download-resume{
    padding: 20px 30px;
    border-radius: 40px;
  }
}
