.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 10px 60px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    width: 200px;
    height: 100px;
    right: 4px;
    top: -3px;
    z-index: -1;
    rotate: -19deg;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 350px;
    height: 280px;
    transition: 0.8s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    transition: 0.3s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    padding:14px 25px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    border-color: #b224e6;
}
@media(max-width:768px){
    .mywork{
        gap: 50px;
        margin: 60px 30px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
    }
    .mywork-title img{
        width: 170px;
    }
    .mywork-container{
        gap: 30px;
        grid-template-columns: 1fr 1fr;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 12px 20px;
        font-size: 18px;
        margin: 50px auto;
    }
}